body{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.title {
  background-color: black;
  float: left;
  font-family: fantasy;
  border: none;
  margin: 0%;
  padding-top: 0%;
}

.title a {
  text-decoration: none;
  color: aliceblue;
  font-size: 30pt;
}

.memberLogin {
  background-color: black;
  padding-bottom: 200px;
}

.memberLogin form {
  float: right;
}
.memberLogin input{
  margin-top: 10px;
  margin-right: 2px;
  float: left;
}

.memberLogin button {
  float: right;
}

.mySearchBar {
  float: right;
  padding-top: 15px;
  padding-right: 0;
  margin-right: 0;
}

.mySearchBar button {
  margin-right: 10px;
  padding-right: 10px;
  padding-left: 0;
  margin-left: 0;
}



#productContent {
padding: 10px 10px;
margin-left: 25px
}

#productContent img{
  padding: 60px;
  margin-bottom: 30px;
  block-size: 145px;
  width: 15%;
  height: 35%;
  
}

.sidenav a {
    background-color:black;
    color: aliceblue;
    display: block;
    padding: 12px;
    text-decoration: none;
    transition: 0.3;
  }

  .sidenav a:hover {
    background-color: mediumseagreen;
  }



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s

  }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  padding-bottom: 7px;
}

.subscribe{
  background-color: black;
  font-family: fantasy;
  margin-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 0px;
}

.subscribe h2 {
  padding-left: 12px;
  margin-bottom: 10px;
}

.subscribe p{
  color: aliceblue;
  padding-left: 6px;
  padding-top: 0;
  margin-top: 0;
  border: none;
}

.subscribe button{
  width: 200px;
  height: 60px;
  background-color: #2196f3 ;
  font-family: fantasy;
  font-size: 14px;
  border: 2px;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  margin-left: 5px;
}


.subscribe input{
  width: 500px;
  height: 35px;
  font-size: 15px;
  margin-left: 5px;
  padding-left: 5px;
}


@media screen and (max-height: 500px){
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  #productContent {margin-right: 30px;
  position: center;}
  .memberLogin form {position: fixed;
  padding: 0;}
  .title a {padding-right: 20px;}
  
}